# Extract Top Airbnb Cities (5)
----

#### Note
* Dataset request from rapidApi/Mashvisor endpoint trends/cities

In [41]:
# Interactive plots
%matplotlib notebook

# Dependencies and Setup
import requests
import random
import json
import ast
import os
import datetime
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import scipy.stats as st
#from citipy import citipy
#from pprint import pprint

# Set by selecting a datasource import type (CSV or API)
source = 'api'
#source = 'csv'

# Remember to update the config file with your API key
from api_keys import mash_api_key

# Set variable for current date using datetime library
today = datetime.date.today()

# Set Mashvisor API URL for rental rates
url = "https://mashvisor-api.p.rapidapi.com/trends/cities"

# Set API variables
states = ["TX","CA","FL","NY","DC"]
source = "airbnb"

# Set todays date as active and formatted as mm/dd/yy for API import
date = today.strftime('%m/%d/%y')
datef = today.strftime('%m%d%y')

# Set a specific date as active parameter for CSV import
#date = '09/12/20'
#datef = '091220'

# Print active date
print(date)
#print(mash_api_key)

12/02/20

In [12]:
# Create and call Mashvisor API query string for rental rates
stateResponse = []
for state in states:
    querystring = {"state":f'{state}',"page":"1","items":"5"}
    print(f'extracting {state} top cities...')
    headers = {
        'x-rapidapi-key': mash_api_key,
        'x-rapidapi-host': "mashvisor-api.p.rapidapi.com"
    }
    response = requests.request("GET", url, headers=headers, params=querystring)
    stateResponse.append(response.json())
    print('data merged')
    print('')

extracting TX top cities...
data merged

extracting CA top cities...
data merged

extracting FL top cities...
data merged

extracting NY top cities...
data merged

extracting DC top cities...
data merged

In [19]:
print(stateResponse[0])

{'status': 'success', 'content': {'input': {'page': '1', 'items': '5', 'state': 'TX'}, 'total_page_results': 5, 'cities': [{'city': 'San Antonio', 'state': 'TX', 'occupancy': 56.79701307, 'total_listing': 8140, 'occ_listing': 462327.68635724}, {'city': 'Austin', 'state': 'TX', 'occupancy': 52.78377538, 'total_listing': 4919, 'occ_listing': 259643.3911139}, {'city': 'Fort Worth', 'state': 'TX', 'occupancy': 55.89322404, 'total_listing': 3326, 'occ_listing': 185900.86315039}, {'city': 'Dallas', 'state': 'TX', 'occupancy': 55.94303226, 'total_listing': 2748, 'occ_listing': 153731.45264498}, {'city': 'Houston', 'state': 'TX', 'occupancy': 52.86381765, 'total_listing': 2638, 'occ_listing': 139454.75095279}]}}

In [21]:
for i in range(len(states)):
    with open(f'../data/mash-api/{datef}/topAirbnbCities-{states[i]}-{datef}.json', 'w') as f1:
        json.dump(stateResponse[i],f1)
        print(f'The cities json file in {states[i]} is created...')
    f1.close()

The cities json file in TX is created...
The cities json file in CA is created...
The cities json file in FL is created...
The cities json file in NY is created...
The cities json file in DC is created...

In [78]:
statesArray = []
for i in range(len(states)):
    f = open(f'../data/mash-api/{datef}/topAirbnbCities-{states[i]}-{datef}.json', 'r')
    s = f.read()
    s = s.replace("\'", "\"")
    s = s.replace("null", "''")
    airstr = json.dumps(s)
    airjson = json.loads(airstr)
    airbnb = ast.literal_eval(airjson)
    statesArray.append(airbnb)

topCities = []
for st in statesArray:
    for i in range(st['content']['total_page_results']):
            citydata = {}
            citydata = {'city': st['content']['cities'][i]['city'],
               'state': st['content']['cities'][i]['state'],
                'occupancy': st['content']['cities'][i]['occupancy'],
                'total_listing': st['content']['cities'][i]['total_listing']
             }
            topCities.append(citydata)
    
df_cities = pd.DataFrame(topCities)
df_cities    
df_cities.index = df_cities['city']
del df_cities['city']
df_cities

                 state  occupancy  total_listing
city
San Antonio         TX  56.797013           8140
Austin              TX  52.783775           4919
Fort Worth          TX  55.893224           3326
Dallas              TX  55.943032           2748
Houston             TX  52.863818           2638
Oakland             CA  63.638959           6979
Los Angeles         CA  66.479393           5552
San Francisco       CA  60.980888           5069
San Diego           CA  61.357988           4513
Long Beach          CA  63.227088           4043
Fort Lauderdale     FL  51.413921           3889
Jacksonville        FL  61.417886           2346
Tampa               FL  54.103382           2344
Pensacola           FL  68.861254           1761
Saint Petersburg    FL  58.409380           1901
New York            NY  52.056153          13726
Buffalo             NY  53.458555           2479
Rochester           NY  61.407603           1241
Albany              NY  64.095450            815
Syracuse            NY  60.773265            398
Washington          DC  53.700826           7025

In [79]:
result = df_cities.to_json(orient="index")
parsed = json.loads(result)
cities_json = json.dumps(parsed, indent=4)
print(cities_json)

{
    "San Antonio": {
        "state": "TX",
        "occupancy": 56.79701307,
        "total_listing": 8140
    },
    "Austin": {
        "state": "TX",
        "occupancy": 52.78377538,
        "total_listing": 4919
    },
    "Fort Worth": {
        "state": "TX",
        "occupancy": 55.89322404,
        "total_listing": 3326
    },
    "Dallas": {
        "state": "TX",
        "occupancy": 55.94303226,
        "total_listing": 2748
    },
    "Houston": {
        "state": "TX",
        "occupancy": 52.86381765,
        "total_listing": 2638
    },
    "Oakland": {
        "state": "CA",
        "occupancy": 63.6389594,
        "total_listing": 6979
    },
    "Los Angeles": {
        "state": "CA",
        "occupancy": 66.47939255,
        "total_listing": 5552
    },
    "San Francisco": {
        "state": "CA",
        "occupancy": 60.9808875,
        "total_listing": 5069
    },
    "San Diego": {
        "state": "CA",
        "occupancy": 61.3579877,
        "total_listing": 4513
    },
    "Long Beach": {
        "state": "CA",
        "occupancy": 63.22708824,
        "total_listing": 4043
    },
    "Fort Lauderdale": {
        "state": "FL",
        "occupancy": 51.41392143,
        "total_listing": 3889
    },
    "Jacksonville": {
        "state": "FL",
        "occupancy": 61.41788556,
        "total_listing": 2346
    },
    "Tampa": {
        "state": "FL",
        "occupancy": 54.10338243,
        "total_listing": 2344
    },
    "Pensacola": {
        "state": "FL",
        "occupancy": 68.86125429,
        "total_listing": 1761
    },
    "Saint Petersburg": {
        "state": "FL",
        "occupancy": 58.40938017,
        "total_listing": 1901
    },
    "New York": {
        "state": "NY",
        "occupancy": 52.05615321,
        "total_listing": 13726
    },
    "Buffalo": {
        "state": "NY",
        "occupancy": 53.4585549,
        "total_listing": 2479
    },
    "Rochester": {
        "state": "NY",
        "occupancy": 61.4076027,
        "total_listing": 1241
    },
    "Albany": {
        "state": "NY",
        "occupancy": 64.09545,
        "total_listing": 815
    },
    "Syracuse": {
        "state": "NY",
        "occupancy": 60.77326538,
        "total_listing": 398
    },
    "Washington": {
        "state": "DC",
        "occupancy": 53.70082593,
        "total_listing": 7025
    }
}

In [81]:
with open(f'../data/mash-api/{datef}/topAirbnbCities-{datef}.json', 'w') as f1:
    json.dump(cities_json,f1,indent=4)
    print("The top airbnb cities json file is created")
f1.close()

The top airbnb cities json file is created

In [9]:
# END JSON PARSE FROM API